<%-include('./partials/header.ejs')%>
<%-include('./partials/navbar.ejs')%>
<div class="container">
    <div class="row mt-5">
        <h3>Login Page</h3>
        <hr>
        <form method="post">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="email"  required name="email" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" name="password">
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
          </form>
    </div>
</div>
<%-include('./partials/footer.ejs')%>